body {
    max-width: 960px;
    width: 30em;
    margin: 1em auto;
    font-family: Georgia, Palatino, 'Palatino Linotype', 'Times New Roman', serif;
    font-size: 1.6em;
    line-height: 1.4;
    background-color: #F2E9E1;
    color: #1C140D;
}